* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statistics {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.statisticsButtons {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statisticsButtons > button {
  width: 10vw;
  margin: 1vw;
  border-radius: 0.3vw;
  background-color: darkslateblue;
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}
.statisticsButtons > button:hover {
  background-color: rgb(44, 36, 92);
}
.mainBody {
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  width: 95vw;
}
.continent {
  width: 25vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}
.continentButtons {
  width: 22vw;
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: rgb(91, 32, 187);
}
.continentButtons > button {
  width: 12vw;
  margin-left: 1vw;
  height: 5vh;
  border-radius: 0.3vw;
  background-color: rgb(91, 32, 187);
  color: #fff;
  font-size: 1vw;
  cursor: pointer;
}
.chartContainer {
  position: relative;

  width: 70vw;
}
#myChart {
}

.highLightBtn {
  background-color: green;
}

/* ////////////////////////////////////////////// */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 21vw;
  height: 70vh;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2vh;
}

.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.countryStatistic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}
.show {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.chartContainerUpdate {
  display: flex;
  width: 70vw;
  height: 70vh;
  z-index: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.active {
  z-index: 1;
}
.countryStat {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
}
.countryStat > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 0.6vw;
  margin: 0 1vw;
  padding: 5vh;
  border: 3px solid black;
  text-align: center;
  background-color: red;
}
.countryStat > div:nth-child(5) {
  background-color: green;
}
.countryStat > div > p {
  font-size: 1.2vw;
  margin: 0 auto;
}

.chartContainerUpdate > h1 {
  color: green;
  align-self: center;
  font-size: 7vh;
}
